@import "tailwindcss";

@theme {
  --color-white: #FFFBF4;
  --color-black: #11120D;
  --color-second: #262626;

  --color-input-bg: #d1d1d1;
  --color-second-text: #565449;

  --color-kiwi: #81C028;
}